<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>LSP</key>
		<value>
			<ConnectionString>Server=192.168.2.97;Database=LSP;User ID=sa;Password=Abc!23;Trusted_Connection=false;Max Pool Size=1000;Timeout=10000</ConnectionString>
			<IsDefault>true</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>LSP System</description>
	</configuration-item>
	<configuration-item>
		<key>SecurityCenter</key>
		<value>
			<ConnectionString>server=192.168.2.97; database=SC_DB_DEV; uid=sa; password=Abc!23;Trusted_Connection=false;MultipleActiveResultSets=true;Max Pool Size=1000;Timeout=10000</ConnectionString>
			<IsDefault>false</IsDefault>
			<Provider>System.Data.SqlClient</Provider>
		</value>
		<description>Security Center Database</description>
	</configuration-item>
</configuration>