<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configuration-item>
		<key>Deployment-Context</key>
		<value />
		<description>Relative path for deployment</description>
	</configuration-item>
	<configuration-item>
		<key>Development-Stage</key>
		<value>DEV</value>
		<description>Development stage</description>
	</configuration-item>
	<configuration-item>
		<key>Default-Locale</key>
		<value>US</value>
		<description>Default localization</description>
	</configuration-item>
	<configuration-item>
		<key>Home-Folder</key>
		<value>C:\Application_Home\PS_V2</value>
		<description>Home folder path</description>
	</configuration-item>
</configuration>