<div class="dxcontent_search">
    <div class="itembox">
        <label class="placehoder">PART NO</label>
        @Html.DevExpress().TextBox(settings =>
        {
            settings.Name = "_txtPART_NO";
            settings.ControlStyle.CssClass = "textbox";
        }).GetHtml()
    </div>
    <div class="itembox">
        <label class="placehoder">SUPPLIER</label>
        @Html.DevExpress().TextBox(settings =>
        {
            settings.Name = "_txtSUPPLIER_CODE";
            settings.ControlStyle.CssClass = "textbox";
        }).GetHtml()
    </div>

    <div class="itembox">
        @Html.DevExpress().RadioButtonList(settings =>
         {
             settings.Name = "_txtSHOP";
             settings.Properties.Items.Add("All", "");
             settings.Properties.Items.Add("A", "A");
             settings.Properties.Items.Add("W", "W");
             settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
             settings.SelectedIndex = 0;
             settings.Properties.Caption = "SHOP";
             settings.ToolTip = "SHOP";
         }).GetHtml()
    </div>

    <div class="itembox">
        @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
            (Html.Toyota().Page.ControllerName.ToString(), "Search"))
        {
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnSearch";
                settings.Text = "Search";
                settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsSearch16x16devav;
                settings.ClientSideEvents.Click = "DoSearch";
            }).GetHtml()
        }
    </div>
</div>




