<style type="text/css">
    .import_form #_IMPORT_PART_HIKIATE_AddUploadR,
    .import_form #_IMPORT_PART_HIKIATE_AddUploadR td,
    .import_form #_IMPORT_PART_HIKIATE_AddUploadR td div { display:block; height:4px !important; }
</style>

@using (Html.BeginForm("IMPORT_PART_HIKIATE_CallbacksUpload", "TB_R_PART_HIKIATE", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 

<table class="edit-form import_form" id ="IMPORT_HIKIATE">
    <caption style="text-align:center; color:black; font-weight:bold;"> PART HIKIATE UPLOAD </caption>
	  
    <tr>
        <td class="label"> 
			File name
		</td>
        <td>
            @Html.DevExpress().UploadControl(settings =>
               {
                   settings.Name = "_IMPORT_PART_HIKIATE";
                   settings.Width = 400;
                   settings.NullText = "Select file...";
                   settings.ShowProgressPanel = true;
                   settings.ShowUploadButton = false;
                                                    
                   settings.AdvancedModeSettings.EnableDragAndDrop = true;
                   settings.AdvancedModeSettings.EnableMultiSelect = false;

                   settings.CallbackRouteValues = new { Controller = "TB_R_PART_HIKIATE", Action = "IMPORT_PART_HIKIATE_CallbacksUpload" };
                   settings.ClientSideEvents.FileUploadComplete = "function(s,e) { PART_HIKIATE_OnFileUploadComplete(s,e)}";                   

               }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
         <td colspan="2" style="padding-top: 20px; text-align: center; vertical-align: middle">
            <div style="float:left; margin-left: 150px;">
                @Html.DevExpress().Button(settings =>
               {
                   settings.Name = "btnImportStart";
                   settings.ControlStyle.CssClass = "button";
                   settings.Text = "Upload";
                   settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsUp216x16;
                   settings.ClientSideEvents.Click = "function OnClick(s, e) { PART_HIKIATE_UPLOAD(s,e);}";
               }).GetHtml()
            </div>          
            <div style="float: left; margin-left: 10px;">
                @Html.DevExpress().Button(settings =>
               {
                   settings.Name = "btnImportCancel";
                   settings.ControlStyle.CssClass = "button";
                   settings.Text = "Cancel";
                   settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsCancel16x16gray;
                   settings.ClientSideEvents.Click = "OnBtnImportCancelClicked";
               }).GetHtml()
            </div>           
            <span id="userStatus" class="action-status"></span>
        </td>
    </tr>
</table>    
}



    
    
    
    
    
    
    
        
