body{ margin:0;padding:0; font-family: 'Open Sans' , Arial;/*, 'NobelVnu' , Arial;*/ font-size: 12px ; font-weight: 600;
       /*background:url("/Content/Images/App/grain.png") #f2f2f2;*/ 
      transition: display 0.2s ease-in-out 0s;  }
.clear{ clear:both; }
.hide{ display:none; }
.controlMessage{ display:none; position:absolute ; z-index:10; font-size:11px; font-weight:normal; margin-left:10px;}


.MAIN { width:100%; }
.CONTENT {  margin:auto; width:900px; text-align: center; }
.CONTENT .WARP { width:120%; }



.CONTENT .tb1 { padding:0; margin-top:10px; border-bottom: 1px solid black; border-right: 1px solid black; width:900px;  }
.CONTENT .tb1 > tbody > tr > td { position:relative; border-left: 1px solid black; border-top: 1px solid black; height:25px; width:220px; text-align:center;  }
.CONTENT .tb1 tr.data1 > td .tddata1 { min-height:215px; display:inline-block; } 
.CONTENT .tb1 tr.data1 > td .Supplier_check { min-height:50px; display:inline-block; }
.CONTENT .tb1 tr.data1 > td .Supplier_check  span { position:absolute; right:120px; }
.CONTENT .tb1 tr.data1 > td .Module_no { position:absolute; left:0px; bottom:0px; border-top:1px solid black; border-right:1px solid black; height:110px; width:260px; font-family:Arial; font-weight:bold; }
.CONTENT .tb1 tr.data1 > td .Module_no .module_txt { position:relative; float:left; margin-left:40px; margin-top:10px; font-size:12px; }
.CONTENT .tb1 tr.data1 > td .Module_no .module_val { position:relative; float:left; font-size:55px; margin-top:10px; margin-left:20px;  text-align:center; }


.CONTENT .tb1 td { }

.CONTENT .tb1 .val { text-align:center; margin-right:10px; position:relative; font-size:42px; font-weight: normal; line-height: 68px; min-height: 68px; }
.CONTENT .tb1 .val2 { text-align:center; margin-right:5px; position:relative; font-size:23px; font-weight: bold; line-height: 68px; min-height: 68px; }
.CONTENT .tb1 .QRCode { position:absolute; right:150px; top: 5px; }
.CONTENT .tb1 .QRCode_FN { position:absolute; left:0px; top: 14px; }
.CONTENT .tb1 .QRCode_FN_Header { position:absolute; left:150px; top: 2px; }
.CONTENT .tb1 .content_header { height:60px; }

.CONTENT .tb1 td.Back_No { font-size: 42px; font-weight: normal;}
.CONTENT .tb1 td.Back_No_BSTVN { font-size: 55px; font-weight: bold;}

.CONTENT .tb1 td.domau.domau1 { background-color:#FE0000; color:white; } 
.CONTENT .tb1 td.domau.domau2 { background-color:#04AEEF; color:black; } 
.CONTENT .tb1 td.domau.domau3 { background-color:#BAD4ED; color:black; } 
.CONTENT .tb1 td.domau.domau4 { background-color:#FFFF04; color:black; } 
.CONTENT .tb1 td.domau.domau5 { background-color:#E17123; color:black; }  
.CONTENT .tb1 td.domau.domau6 { background-color:#5A5A5A; color:white; } 
.CONTENT .tb1 td.domau.domau7 { background-color:#BE0000; color:white; } 

.CONTENT .suptb1 { padding:0; margin:0;  width:890px;  }
.CONTENT .suptb1 td { width:220px; text-align:left; }

.CONTENT .suptb2 { padding:0; margin:0;  width:890px;  }
.CONTENT .suptb1 td { text-align:left; }
