body{ margin:0;padding:0; font-family: 'Open Sans' , Arial;/*, 'NobelVnu' , Arial;*/ font-size: 12px ; font-weight: 600;
       /*background:url("/Content/Images/App/grain.png") #f2f2f2;*/ 
      transition: display 0.2s ease-in-out 0s;  }
.clear{ clear:both; }
.hide{ display:none; }
.controlMessage{ display:none; position:absolute ; z-index:10; font-size:11px; font-weight:normal; margin-left:10px;}


.MAIN { width:100%; }
.CONTENT {  margin:auto; width:900px; text-align: center; }
.CONTENT .WARP { width:120%; }

.CONTENT .c1 { font-size: 30px; }
.CONTENT .c2 { font-size: 14px; }
.CONTENT .c3 { margin-top:15px; text-align:left; }
.CONTENT .c3 i { font-weight:normal; font-size: 11px; }
.CONTENT .c4 { height:22px; border-bottom: 1px solid black; }
.CONTENT .c5 { padding: 5px 0; text-align:left; font-size: 12px; background-color:#D7F2F1; } 

.CONTENT .tb1 { padding:0; margin-top:10px; border-bottom: 1px solid black; border-right: 1px solid black; width:900px;  }
.CONTENT .tb1 td { border-left: 1px solid black; border-top: 1px solid black; height:20px; }
.CONTENT .tb1 .t1, .CONTENT .tb1 .t3 { text-align:left; width: 200px; }
.CONTENT .tb1 .t2, .CONTENT .tb1 .t4 { text-align:center; width: 150px; }
.CONTENT .tb1 .t5 { text-align:center; width: 150px; }
.CONTENT .tb1 .supt1 {  font-weight:normal; font-size: 11px; }
.CONTENT .tb1 .Order_No { font-weight:900; }
.CONTENT .tb1 .Delivery_date, .CONTENT .tb1 .Delivery_time, .CONTENT .tb1 .Trip_No {  font-weight:600;  }


.CONTENT .tb2 { padding:0; margin-top:4px; border-bottom: 1px solid black; border-right: 1px solid black; width:900px; }
.CONTENT .tb2 td { border-left: 1px solid black; border-top: 1px solid black; height:19px; }
.CONTENT .tb2 td.Total_boxes_val,
.CONTENT .tb2 td.Total_pallets_val,
.CONTENT .tb2 td.total_none { border-left: none;  }
.CONTENT .tb2 td.Total_boxes_val,
.CONTENT .tb2 td.Total_pallets_val { text-align: right; color:#BD0000; }
.CONTENT .tb2 td.Part_qty { background-color:yellow; }
.CONTENT .tb2 td.Part_name { font-size: 9px; }
.CONTENT .tb2 td.Part_No { font-size: 10px; width:12%;}
.CONTENT .tb2 tr.data td { font-weight:normal; }


.CONTENT .tb3 { padding:0; margin-top:20px; border-bottom: 1px solid black; border-right: 1px solid black; width:900px; border-spacing:0px; }
.CONTENT .tb3 td { border-left: 1px solid black; border-top: 1px solid black; height:15px; }
.CONTENT .tb3 .supt1 {  font-size:12px; font-weight:normal;  }
.CONTENT .tb3 .t1 { font-size:12px; font-weight:normal;  border-spacing:0px;  }
.CONTENT .tb3 .t2 { height:40px; width:20%; }


.CONTENT .tb4 { padding:0; margin-top:5px; border-bottom: 1px solid black; border-right: 1px solid black; width:900px; }
.CONTENT .tb4 td { border-left: 1px solid black; border-top: 1px solid black; height:14px; }
.CONTENT .tb4 td.Packazing_type { width:18%; }
.CONTENT .tb4 td.Unit { width:28%; }
.CONTENT .tb4 td.receiving_box { width:18%; }
.CONTENT .tb4 td.Dummy_box { width:12%; }
.CONTENT .tb4 td.return_box { width:13%; }
.CONTENT .tb4 td.Remark { width:12%; }



/********************************WIDTH HEIGHT***********************************/


/********************************BORDER***********************************/



/********************************COLOR***********************************/ 
.YRD_SCREEN .row.disable{ background-color:rgba(0, 0, 0, 0.4); }

/********************************STOP***********************************/

.myoverlay { background-color: rgba(0, 0, 0, 0.1); bottom: 0; left: 0; overflow: auto; position: fixed; right: 0; top: 0; z-index: 10; display:none; }
.mypopup { margin: 50px auto; position: static; z-index: 11; height: auto; margin-top: 100px; width: 80%; text-align:center; }
.myoverlay .mypopup .content{  font-size:140px; font-weight:bold; }

/********************************BUTTON - ICON***********************************/
.button { background-color: #ffffff; border: 1px solid #d9d9d9; color: #262626; cursor: pointer; display: inline-block; font-size: 0.875rem;  line-height: 1; outline: medium none; position: relative; text-align: center; vertical-align: middle; font-size: 22px; width:100%; height:50px; margin-bottom:10px;}
.button:focus { outline: 0 none; }
.text-shadow { text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); }
/**/
.button.success { background: #60a917 none repeat scroll 0 0; border-color: #60a917; color: #ffffff; }
.block-shadow-success { box-shadow: -2px 1px 4px 0 rgba(0, 128, 0, 0.7); }
.button.success:active, .button.success:hover { background: #128023 none repeat scroll 0 0; color: #ffffff; }

.button.warning { background: #fa6800 none repeat scroll 0 0; border-color: #fa6800; color: #ffffff; }
.block-shadow-warning { box-shadow: 0 0 25px 0 rgba(255, 165, 0, 0.7); }
.button.warning:active ,.button.warning:hover{ background: #bf5a15 none repeat scroll 0 0; color: #ffffff; }

.button.danger, .button.alert { background: #ce352c none repeat scroll 0 0; border-color: #ce352c; color: #ffffff; }
.block-shadow-danger { box-shadow: 0 0 25px 0 rgba(128, 0, 0, 0.7); }
.button.danger:active, .button.alert:active, .button.danger:hover, .button.alert:hover { background: #9a1616 none repeat scroll 0 0; color: #ffffff; }

.button.info { background: #59cde2 none repeat scroll 0 0; border-color: #59cde2; color: #ffffff; } 
.block-shadow-info { box-shadow: 0 0 25px 0 rgba(89, 205, 226, 0.7); }
.button.info:active, .button.info:hover { background: #1ba1e2 none repeat scroll 0 0; color: #ffffff; }

input, textarea, select{  position: relative; z-index: 0; font-size:100%; vertical-align:sub; padding:0 0 0 10px; font-size:20px; font-weight:bold; }
 





/*
input.info, textarea.info, select.info{ border: 1px solid #59cde2; }
input.info:hover,input.info:active, textarea.info:hover,  textarea.info:active, select.info:hover,select.info:active, input.info:focus, textarea.info:focus, select.info:focus{ border: 1px solid #1ba1e2; }
input.success, textarea.success, select.success{ border: 1px solid #60a917; } 
input.success:hover,input.success:active, textarea.success:hover,  textarea.success:active, select.success:hover,select.success:active,input.success:focus, textarea.success:focus, select.success:focus{ border: 1px solid #128023; }
input.warning, textarea.warning, select.warning{ border: 1px solid #e3c800; }	
input.warning:hover,input.warning:active, textarea.warning:hover,  textarea.warning:active, select.warning:hover,select.warning:active, input.warning:focus, textarea.warning:focus, select.warning:focus{ border: 1px solid #bf5a15; }
input.danger, textarea.danger, select.danger{ border: 1px solid #ce352c; }
input.danger:hover,input.danger:active, textarea.danger:hover,  textarea.danger:active, select.danger:hover,select.danger:active,input.danger:focus, textarea.danger:focus, select.danger:focus{ border: 1px solid #9a1616; }
*/

/*
<button class="button warning block-shadow-warning text-shadow" id="btnMANUAL_IN_PUT">Manual in put</button>
<button class="button success block-shadow-success text-shadow">Button</button>
<button class="button danger block-shadow-danger text-shadow">Button</button>
<button class="button info block-shadow-info text-shadow">Color change</button>
*/

/*.CAMRY, .K{ color:#FE97CA; } .VIOS, .V{ color:#FFCA97; } .INNOVA, .I{ color:#84F5AF; } .FORTUNER, .F{ color:#FFFF97; } .COROLLA, .C{ color:#97CAFF; }*/  
.CAMRY, .K{ background-color:#FE97CA; } .VIOS, .V{ background-color:#FFCA97; } .INNOVA, .I{ background-color:#84F5AF; } .FORTUNER, .F{ background-color:#FFFF97; } .COROLLA, .C{ background-color :#97CAFF; }  
/*.CAMRY:hover, .K:hover, .CAMRY:active, .K:active{ background-color:#FF82BC !important; } 
.VIOS:hover, .V:hover, .VIOS:active, .V:active{ background-color:#FCB97B !important; } 
.INNOVA:hover, .I:hover, .INNOVA:active, .I:active{ background-color:#66DD91 !important; } 
.FORTUNER:hover, .F:hover, .FORTUNER:active, .F:active{ background-color:#EFEF0E !important; } 
.COROLLA:hover, .C:hover, .COROLLA:active, .C:active{ background-color :#7ABAF9 !important; }
*/ 

