@using LSP.Models
@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gvList" + Model.BOOKING_H_ID;
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.KeyFieldName = "ID";
    settings.SettingsPager.PageSize = LSP.Models.Common.PageSize(); //10
    settings.SettingsPager.NumericButtonCount = 10;
    settings.SettingsPager.AllButton.Visible = true;
    settings.SettingsPager.AlwaysShowPager = true;

    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Items = Common.PageSizeItemSettings(); //new string[] { "10", "20", "50" };
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowFilterRowMenu = true;

    settings.CallbackRouteValues = new { Controller = "TB_R_TRUCK_BOOKING_H", Action = "BOOKING_D_GridCallback", BOOKING_H_ID = Model.BOOKING_H_ID };
    
    settings.Styles.Header.Font.Bold = true;
    settings.Styles.Header.Font.Size = 7;
    settings.Styles.Header.ForeColor = System.Drawing.Color.White;
    settings.Styles.Header.Paddings.Padding = 3;
    settings.Styles.Header.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Left;
    settings.Styles.Header.BackColor = System.Drawing.Color.Black;
    settings.Styles.Cell.Font.Size = 8;

    settings.SettingsBehavior.AllowFocusedRow = true;
    settings.Styles.FocusedRow.BackColor = System.Drawing.Color.LightGray;
    settings.Styles.Row.ForeColor = System.Drawing.Color.Black;
        
    settings.Columns.Add(c =>
    {
        c.Caption = "Op.";
        c.Width = System.Web.UI.WebControls.Unit.Pixel(90);
        c.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        c.SetDataItemTemplateContent(content =>
        {
            System.Text.StringBuilder strBuilder = new System.Text.StringBuilder();
            strBuilder.Append(string.Concat("<a class='btnCollectionEdit' href='#edit' data-id='", DataBinder.Eval(content.DataItem, "id"), "' onclick='return BOOKING_DEdit(this)' title='Edit'><i class='fa fa-pencil'></i></a>"));
            strBuilder.Append(string.Concat(" | <a class='btnCollectionDelete' href='#delete' data-id='", DataBinder.Eval(content.DataItem, "id"), "' onclick='return BOOKING_DDelete(this)' title='Delete'><i class='fa fa-trash-o'></i></a>"));
            Html.ViewContext.Writer.Write(strBuilder.ToString());
        }
        );
    }
    );

    settings.Columns.Add(c =>
    {
        c.Caption = "No.";
        c.FieldName = "ROW_NO";
        c.Width = 60;
    }
    );
    /*
    settings.Columns.Add(c =>
    {
        c.Caption = "BOOKING ID";
        c.FieldName = "BOOKING_H_ID";
    }
    );    
    settings.Columns.Add(c =>
    {
        c.Caption = "SUPPLIER ORDER TIME ID";
        c.FieldName = "SUPPLIER_OR_TIME_ID";
    }
   );*/
    settings.Columns.Add(c =>
    {
        c.Caption = "SUPPLIER CODE";
        c.FieldName = "SUPPLIER_CODE";        
    }
    );
    settings.Columns.Add(c =>
    {
        c.Caption = "ORDER SEQ";
        c.FieldName = "ORDER_SEQ";
    }
    );

    settings.Columns.Add(c =>
    {
        c.Caption = "ORDER TYPE";
        c.FieldName = "ORDER_TYPE";
    }
    );

    settings.Columns.Add(c =>
    {
        c.Caption = "RECEIVE TIME";
        c.FieldName = "RECEIVE_TIME";        
    }
    );
    settings.Columns.Add(c =>
    {
        c.Caption = "IS ACTIVE?";
        c.FieldName = "IS_ACTIVE";
    }
    );

}).Bind(LSP.Models.TB_R_TRUCK_BOOKING_D.TB_R_TRUCK_BOOKING_DProvider.Instance.TB_R_TRUCK_BOOKING_D_GetsByBOOKING_H_ID(Model ?? new LSP.Models.TB_R_TRUCK_BOOKING_D.TB_R_TRUCK_BOOKING_DInfo())).GetHtml()




