<!-- About popup -->
<div id="about-popup" class="modal fade"> 
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="popup-title">Application Info 
                <i class="fa fa-lightbulb-o fa-lg green pull-right" style="font-size: 1.7em;"></i></h4>
            </div>

            <div class="modal-body">
                <p class="text-large">@Html.Toyota().Application.Name</p>
                <p>Application description.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Contact person popup -->
<div id="contact-popup" class="modal fade"> 
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Application Support <i class="fa fa-users orange pull-right fa-lg"></i></h4>
                
            </div>

            <div class="modal-body">
                <address>
                    <strong>Toyota Motor Vietnam</strong>
                    <p><i class="fa fa-building-o fa-lg purple" title="Address"></i> : Phuc Thang, Phuc Yen, Vinh Phuc</p>
                    <p><i class="fa fa-phone fa-lg green" title="Phone"></i> : (+84) 2113 868100</p>
                </address>

                <p>For general information and questions, please contact :</p>
                <address>
                    <strong>Application Support</strong>
                    <p><i class="fa fa-envelope-o fa-lg purple" title="Email"></i> : <a href="mailto:support@toyotavn.com.vn">support@toyotavn.com.vn</a></p>
                    <p><i class="fa fa-phone fa-lg green" title="Phone"></i> : (861) 2222</p>
                </address>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>