<HTML>
<HEAD>
    <STYLE type=text/css>
        body {
            font-family: Calibri;
        }

        p {
            margin: 0;
        }

        .mapping {
            background-color: #D3D4D7;
            color: black;
            padding: 1px;
        }
    </STYLE>
    <!-- Instruct the web browser control to use IE 6 to render the page. -->
    <META content=IE =6 http-equiv=X-UA-Compatible>
</HEAD>
<BODY>
    <P>Dear <STRONG><SPAN class=mapping contentEditable=false>{{Username}}</SPAN></STRONG></P>
    <P>&nbsp;</P>
    <P>Please be informed that Exchange Rate extracted from Citibank Official Email is completed successfully.</P>
    <P>&nbsp;</P>
    <P><STRONG>Data received as followings:</STRONG> </P>
    <P>&nbsp;</P>
    <P><SPAN class=mapping contentEditable=false>{{Results}}</SPAN></P>
    <P>&nbsp;</P>
    <P><STRONG><EM>Please see attachments for details:</EM></STRONG></P>
    <P>- <EM><STRONG>Email file</STRONG></EM>: Citibank Official Email</P>
    <P>&nbsp;</P>
    <P>Data also uploaded into <STRONG><FONT color=#ff0000>FIS</FONT></STRONG> system. Please <STRONG><FONT color=#008080>check and approve</FONT></STRONG>!</P>
    <P>&nbsp;</P>
    <P>For more information or have any issue/question, please contact <STRONG>TMV IS</STRONG>:</P>
    <P>- Extention: <STRONG><FONT color=#ff0000>2222</FONT></STRONG></P>
    <P>- Hotline: <STRONG><FONT color=#0000ff>0912.123456</FONT></STRONG></P>
</BODY>
</HTML>