<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="ExrateURL" value="https://citibank.com.vn/global_docs/pdf/daily-rates.pdf" />
    <!--DB-->
	 
	<add key="ConnectSQL" value="Server=DESKTOP-1HVMAJ1\SQLEXPRESS;Database=UiPath_T;User Id=sa;Password=Abc!23" />
	<!--<add key="ConnectSQL" value="Server=192.168.2.97;Database=ANDON_TEST;User Id=sa;Password=Abc!23" />-->

	<!--email-->
	<add key="ProfileName" value="8@nxhdev.pro" />	  
	<add key="ProfilePassword" value="Caube_2k2" />	  
	<add key="Username" value="Test User" />
	<add key="EmailTitle" value="[RPA.EXRATE.TOOL.C#] Exchange Rate file download successfuly (from Citibank Website)" /> 
	<add key="AdminEmails" value="xuanhoangv7c@gmail.com;8@nxhdev.pro" />
	<add key="UserEmails" value="xuanhoang02122002@gmail.com;admin@nxhdev.pro" />
	   
	<!--email server-->
	<add key="EmailServerAddress" value="smtp.yandex.com" />
	<add key="EmailServerPort" value="465" />
	<add key="EmailServerIsSSL" value="Y" />
	<add key="EmailServerUseDefaultCredentials" value="N" />
	  
	<!--run time-->
	<add key="TimerInterval" value="60000" />
	<add key="DurationStart" value="20:00" />
	<add key="DurationEnd" value="21:00" />
	  
	<!--file path-->
	<add key="ExratePDFFolder" value="H:\ExratePDF" />
	<add key="ExrateExcelFolder" value="H:\ExrateExcel" />
	<add key="HTMLTemplateFilePath" value="H:\Project\mms\plc\RPA.EXRATE.TOOL\RPA.EXRATE.TOOL\EmailTemplate.html" />
	  
	<add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
