<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--DB-->
    <add key="ConnectSQL_LGA" value="Server=192.168.2.97;Database=ANDON;User Id=sa;Password=Abc!23;"/>
    <add key="ConnectSQL_LGW" value="Server=192.168.2.97;Database=ANDON;User Id=sa;Password=Abc!23;"/>
    <add key="ConnectSQL_LWA" value="Server=192.168.2.97;Database=ANDON;User Id=sa;Password=Abc!23;"/>
    <!--PLC-->
    <!--add key="Remote_PLC_Host_LGW" value="192.168.227.167" /-->
    <add key="Remote_PLC_Host_LGW" value="192.168.227.166"/>
    <add key="Remote_PLC_Port_LGW" value="9600"/>
    <add key="Remote_PLC_Host_LGA" value="192.168.227.167"/>
    <add key="Remote_PLC_Port_LGA" value="9600"/>
    <add key="Remote_PLC_Host_LWA" value="192.168.225.112"/>
    <add key="Remote_PLC_Port_LWA" value="9600"/>
    <!-- From A1 Trim and A2 Trim -->
    <add key="Remote_PLC_Host_LGA_A1" value="192.168.227.164"/>
    <add key="Remote_PLC_Port_LGA_A1" value="9600"/>
    <add key="Remote_PLC_Host_LGA_A2" value="192.168.227.160"/>
    <add key="Remote_PLC_Port_LGA_A2" value="9600"/>
    <add key="Local_Port" value="9600"/>
    <add key="ZICF" value="80"/>
    <add key="ZRSV" value="00"/>
    <add key="ZGCT" value="03"/>
    <add key="ZDNA" value="00"/>
    <add key="ZDA1" value="00"/>
    <add key="ZDA2" value="00"/>
    <add key="ZSNA" value="00"/>
    <add key="ZSA1" value="6D"/>
    <add key="ZSA2" value="00"/>
    <add key="LGW_FINS" value="0101800096000096"/>
    <add key="LGA_FINS" value="0101800096000096"/>
    <add key="LWA_FINS" value="0101800096000096"/>
    <add key="LGA_A1_FINS" value="0101800096000096"/>
    <add key="LGA_A2_FINS" value="0101800096000096"/>
    <!--Application Config-->
    <add key="PLC_MD_LGW" value="1"/>
    <add key="PLC_MD_LWA" value="1"/>
    <!--Get PLC data or not (0:NO, 1:YES)-->
    <add key="PLC_MD_LGA" value="1"/>
    <add key="PLC_MD_LGA_A1" value="1"/>
    <add key="PLC_MD_LGA_A2" value="1"/>
    <!--Get PLC data or not (0:NO, 1:YES)-->
    <add key="PLC_NoDelay" value="1"/>
    <!--Get PLC data continuously (0:NO, 1:YES)-->
    <add key="LOG_LGW" value="1"/>
    <add key="LOG_LWA" value="1"/>
    <!--LOG DU LIEU CUA LGA-->
    <add key="LOG_LGA" value="1"/>
    <add key="LOG_LGA_A1" value="1"/>
    <add key="LOG_LGA_A2" value="1"/>
    <!--LOG DU LIEU CUA LGA-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
