.mac-book-air-39,
.mac-book-air-39 * {
    box-sizing: border-box;
}

.mac-book-air-39 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.frame-1171275211 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px 10px 0 10px;
}

.frame-1000006348 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    height: calc(100% - 190px);
}

.frame-1171275284 {
    padding: 12px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-end;
    align-self: stretch;
    flex-shrink: 0;
    height: 44px;
    position: relative;
}

.vuesax-linear-close-circle {
    background: rgba(151, 167, 183, 0.1);
    border-radius: 20px;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
}

.vuesax-linear-close-circle2 {
    position: absolute;
    inset: 0;
}

.close-circle {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.frame-1171275283 {
    padding: 0px 32px 0px 32px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame {
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.artboard-copy-2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
}

.the-following-document-s-will-be-sent-to-the-signers {
    color: #222222;
    text-align: left;
    font: 400 18px/150% "Roboto", sans-serif;
    position: relative;
}

.frame-1171275285 {
    padding: 0px 32px 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1171275303 {
    border-style: solid;
    border-color: #b8dbf0;
    border-width: 0px 0px 1px 0px;
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1171275286 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1171275238 {
    border-radius: 10px;
    border-style: solid;
    border-color: #222222;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
}

._1 {
    color: #222222;
    text-align: left;
    font: 600 10px "SF Pro Display", sans-serif;
    position: relative;
}

.frame2 {
    flex-shrink: 0;
    width: 11.67px;
    height: 14px;
    position: relative;
    overflow: hidden;
}

.artboard {
    position: absolute;
    inset: 0;
}

.files-icon-pdf {
    width: 11.67px;
    height: 14px;
    position: static;
}

.combined-shape {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.acrobat-shape {
    position: absolute;
    left: 3.27px;
    top: 5.13px;
    overflow: visible;
}

.path {
    position: absolute;
    left: 11.67px;
    top: 4.67px;
    transform: translate(-6.67px, -4.67px);
    overflow: visible;
}

.frame-1171275287 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.get-approval-121291-1233-pdf {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 328px;
}

._8-page-s-6-signatures {
    color: #97a7b7;
    text-align: right;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
}

.frame-1171275297 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1171275288 {
    border-radius: 10px;
    border-style: solid;
    border-color: #222222;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
}

._2 {
    color: #222222;
    text-align: left;
    font: 600 10px "SF Pro Display", sans-serif;
    position: relative;
}

.combined-shape2 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.acrobat-shape2 {
    position: absolute;
    left: 3.27px;
    top: 5.13px;
    overflow: visible;
}

.path2 {
    position: absolute;
    left: 11.67px;
    top: 4.67px;
    transform: translate(-6.67px, -4.67px);
    overflow: visible;
}

.get-approval-123431-4523-pdf {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 328px;
}

._1-page-s-6-signatures {
    color: #97a7b7;
    text-align: right;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
}

.frame-1171275298 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

._3 {
    color: #222222;
    text-align: left;
    font: 600 10px "SF Pro Display", sans-serif;
    position: relative;
}

.combined-shape3 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.acrobat-shape3 {
    position: absolute;
    left: 3.27px;
    top: 5.13px;
    overflow: visible;
}

.path3 {
    position: absolute;
    left: 11.67px;
    top: 4.67px;
    transform: translate(-6.67px, -4.67px);
    overflow: visible;
}

.get-approval-656562-2333-pdf {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 328px;
}

._1-page-s-4-signatures {
    color: #97a7b7;
    text-align: right;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
}

.frame-1171275299 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

._4 {
    color: #222222;
    text-align: left;
    font: 600 10px "SF Pro Display", sans-serif;
    position: relative;
}

.combined-shape4 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.acrobat-shape4 {
    position: absolute;
    left: 3.27px;
    top: 5.13px;
    overflow: visible;
}

.path4 {
    position: absolute;
    left: 11.67px;
    top: 4.67px;
    transform: translate(-6.67px, -4.67px);
    overflow: visible;
}

.get-approval-454673-3680-pdf {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 328px;
}

.frame-1171275300 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

._5 {
    color: #222222;
    text-align: left;
    font: 600 10px "SF Pro Display", sans-serif;
    position: relative;
}

.combined-shape5 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.acrobat-shape5 {
    position: absolute;
    left: 3.27px;
    top: 5.13px;
    overflow: visible;
}

.path5 {
    position: absolute;
    left: 11.67px;
    top: 4.67px;
    transform: translate(-6.67px, -4.67px);
    overflow: visible;
}

.get-approval-898782-7854-pdf {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 328px;
}

.frame-1171275301 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

._6 {
    color: #222222;
    text-align: left;
    font: 600 10px "SF Pro Display", sans-serif;
    position: relative;
}

.combined-shape6 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.acrobat-shape6 {
    position: absolute;
    left: 3.27px;
    top: 5.13px;
    overflow: visible;
}

.path6 {
    position: absolute;
    left: 11.67px;
    top: 4.67px;
    transform: translate(-6.67px, -4.67px);
    overflow: visible;
}

.get-approval-765789-7328-pdf {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 328px;
}

.frame-1171275302 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

._7 {
    color: #222222;
    text-align: left;
    font: 600 10px "SF Pro Display", sans-serif;
    position: relative;
}

.combined-shape7 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.acrobat-shape7 {
    position: absolute;
    left: 3.27px;
    top: 5.13px;
    overflow: visible;
}

.path7 {
    position: absolute;
    left: 11.67px;
    top: 4.67px;
    transform: translate(-6.67px, -4.67px);
    overflow: visible;
}

.get-approval-558978-4599-pdf {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 328px;
}

.frame-11712753032 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

._8 {
    color: #222222;
    text-align: left;
    font: 600 10px "SF Pro Display", sans-serif;
    position: relative;
}

.combined-shape8 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.acrobat-shape8 {
    position: absolute;
    left: 3.27px;
    top: 5.13px;
    overflow: visible;
}

.path8 {
    position: absolute;
    left: 11.67px;
    top: 4.67px;
    transform: translate(-6.67px, -4.67px);
    overflow: visible;
}

.get-approval-231448-4231-pdf {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 328px;
}

.frame-1171275304 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

._9 {
    color: #222222;
    text-align: left;
    font: 600 10px "SF Pro Display", sans-serif;
    position: relative;
}

.combined-shape9 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.acrobat-shape9 {
    position: absolute;
    left: 3.27px;
    top: 5.13px;
    overflow: visible;
}

.path9 {
    position: absolute;
    left: 11.67px;
    top: 4.67px;
    transform: translate(-6.67px, -4.67px);
    overflow: visible;
}

.get-approval-667489-4123-pdf {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 328px;
}

.frame-1171275305 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

._10 {
    color: #222222;
    text-align: left;
    font: 600 10px "SF Pro Display", sans-serif;
    position: relative;
}

.combined-shape10 {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.acrobat-shape10 {
    position: absolute;
    left: 3.27px;
    top: 5.13px;
    overflow: visible;
}

.path10 {
    position: absolute;
    left: 11.67px;
    top: 4.67px;
    transform: translate(-6.67px, -4.67px);
    overflow: visible;
}

.get-approval-145678-1232-pdf {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 328px;
}

.frame-11712752862 {
    padding: 0px 32px 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-11712753033 {
    border-style: solid;
    border-color: #b8dbf0;
    border-width: 0px 0px 1px 0px;
    padding: 16px 0px 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1171275323 {
    background: #ffffff;
    border-radius: 8px;
    border-style: solid;
    border-color: #55c0f5;
    border-width: 0px 0px 0px 2px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(--esign-boxshadow-box-list-box-shadow,
            0px 1.25px 4.15px 0px rgba(0, 0, 0, 0.21),
            0px 0px 0.94px 0px rgba(0, 0, 0, 0.1));
    overflow: hidden;
}

.search {
    background: var(--other-colors-white, #ffffff);
    border-radius: 8px;
    border-style: solid;
    border-color: #b8dbf0;
    border-width: 1px;
    padding: 2px 8px 2px 8px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
}

.frame-1000006404 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame-1000006405 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

._12 {
    color: #222222;
    text-align: left;
    font: 400 12px/150% "SF Pro Display", sans-serif;
    position: relative;
}

.frame-1171275322 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.frame-1171275205 {
    background: rgba(254, 249, 228, 0.4);
    border-radius: 8px;
    border-style: dashed;
    border-color: #0374f6;
    border-width: 1px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.frame-1000006429 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.frame-1000006526 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.frame-1171275281 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.ellipse-2068 {
    border-radius: 50%;
    border-style: solid;
    border-color: #28c0f9;
    border-width: 1px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    box-shadow: var(--esign-boxshadow-btn-icon-box-shadow,
            0px 1.25px 2.15px 0px rgba(0, 0, 0, 0.21),
            0px 0px 0.94px 0px rgba(0, 0, 0, 0.1));
}

.frame-1000006366 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
}

.frame-1171275275 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.pham-thi-xuan-xuanpt-toyotavn-com-vn {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 335px;
}

._10-signatures {
    color: #97a7b7;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
}

.frame-11712753034 {
    background: rgba(224, 255, 230, 0.4);
    border-radius: 8px;
    border-style: dashed;
    border-color: #0374f6;
    border-width: 1px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.ellipse-2069 {
    border-radius: 50%;
    border-style: solid;
    border-color: #28c0f9;
    border-width: 1px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    box-shadow: var(--esign-boxshadow-btn-icon-box-shadow,
            0px 1.25px 2.15px 0px rgba(0, 0, 0, 0.21),
            0px 0px 0.94px 0px rgba(0, 0, 0, 0.1));
}

.tran-le-cam-van-vantlc-toyotavn-com-vn {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 335px;
}

.frame-1171275324 {
    background: #ffffff;
    border-radius: 8px;
    border-style: solid;
    border-color: #55c0f5;
    border-width: 0px 0px 0px 2px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(--esign-boxshadow-box-list-box-shadow,
            0px 1.25px 4.15px 0px rgba(0, 0, 0, 0.21),
            0px 0px 0.94px 0px rgba(0, 0, 0, 0.1));
}

.frame-10000064042 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

._22 {
    color: #222222;
    text-align: left;
    font: 400 12px/150% "SF Pro Display", sans-serif;
    position: relative;
}

.frame-11712753042 {
    background: rgba(227, 247, 254, 0.4);
    border-radius: 8px;
    border-style: dashed;
    border-color: #0374f6;
    border-width: 1px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.ellipse-2070 {
    border-radius: 50%;
    border-style: solid;
    border-color: #97a7b7;
    border-width: 1px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    box-shadow: var(--esign-boxshadow-btn-icon-box-shadow,
            0px 1.25px 2.15px 0px rgba(0, 0, 0, 0.21),
            0px 0px 0.94px 0px rgba(0, 0, 0, 0.1));
}

.ishihara-yu-yishihara-toyotavn-com-vn {
    color: #222222;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
    width: 335px;
}

._12-signatures {
    color: #97a7b7;
    text-align: left;
    font: 400 14px "Roboto", sans-serif;
    position: relative;
}

.frame-1171275325 {
    background: #ffffff;
    border-radius: 8px;
    border-style: solid;
    border-color: #55c0f5;
    border-width: 0px 0px 0px 2px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(--esign-boxshadow-box-list-box-shadow,
            0px 1.25px 4.15px 0px rgba(0, 0, 0, 0.21),
            0px 0px 0.94px 0px rgba(0, 0, 0, 0.1));
}

._32 {
    color: #222222;
    text-align: left;
    font: 400 12px/150% "SF Pro Display", sans-serif;
    position: relative;
}

.frame-11712753052 {
    background: rgba(247, 230, 255, 0.4);
    border-radius: 8px;
    border-style: dashed;
    border-color: #0374f6;
    border-width: 1px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.component-41 {
    background: #ffc581;
    border-radius: 30px;
    border-style: solid;
    border-color: #97a7b7;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    box-shadow: var(--esign-boxshadow-btn-icon-box-shadow,
            0px 1.25px 2.15px 0px rgba(0, 0, 0, 0.21),
            0px 0px 0.94px 0px rgba(0, 0, 0, 0.1));
    overflow: hidden;
}

.m {
    color: #242752;
    text-align: left;
    font: 600 12px/140% "SF Pro Display", sans-serif;
    position: relative;
}

.tanabe-yuki-ytanabe-toyotavn-com-vn {
    color: #222222;
    text-align: left;
    font: 400 14px/140% "Roboto", sans-serif;
    position: relative;
    width: 335px;
}

.frame-1000006327 {
    padding: 5px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    gap: 5px;
    height: 190px;
}

.frame-1171275332 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 1;
    position: relative;
}

.frame-1000006325 {
    background: #ffffff;
    border-radius: 6px;
    border-style: solid;
    border-color: #d23a23;
    border-width: 1px;
    padding: 4px 32px 4px 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 28px;
    position: relative;
    cursor: pointer;
}

.frame-1000006325s {
    background: #ffffff;
    border-radius: 6px;
    border-style: solid;
    border-color: #0eb3cf;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 28px;
    position: relative;
    padding: 4px 18px 4px 18px;
    cursor: pointer;
}

.not-now {
    color: #d23a23;
    text-align: left;
    font: 600 14px/120% "SF Pro Display", sans-serif;
    position: relative;
}

.component-38 {
    background: #12d176;
    border-radius: 6px;
    padding: 4px 20px 4px 12px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(--esign-boxshadow-btn-icon-box-shadow,
            0px 1.25px 2.15px 0px rgba(0, 0, 0, 0.21),
            0px 0px 0.94px 0px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.vuesax-bold-send-2 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: static;
}

.send-2 {
    position: absolute;
    left: 12px;
    top: 4px;
    overflow: visible;
}

.esign {
    color: #0eb3cf;
    text-align: left;
    font: 600 14px/9px "Roboto", sans-serif;
    position: relative;
}

.e-dialog .e-dlg-content {
    padding: 0px;
    overflow: hidden;
}

.frame-1000003997 {
    width: 100%;
}

.p-input-icon-left {
    width: 100%;
}

.p-inputtext.p-component.p-element {
    width: 100%;
    border-radius: 10px;
}

.tag {
    width: 100%;
    background: #f4f5fb;
    border-radius: 40px;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-45445 {
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.frame-45416 {
    border-radius: 40px;
    padding: 4px 24px 4px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    flex: 1;
}

.all {
    color: #222222;
    text-align: left;
    font: 700 12px "Inter", sans-serif;
    position: relative;
}

.frame-45417 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.management {
    color: #222222;
    text-align: left;
    font: 700 12px "Inter", sans-serif;
    position: relative;
    padding: 0 10px;
}

.frame-45418 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.my-division {
    color: #222222;
    text-align: left;
    font: 700 12px "Inter", sans-serif;
    position: relative;
    padding: 0 10px;
}

.frame-45419 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.my-template {
    color: #222222;
    text-align: left;
    font: 700 12px "Inter", sans-serif;
    position: relative;
    padding: 0 10px;
}

.e-tab#user .e-tab-header .e-toolbar-items {
    width: 100%;
}

.e-tab#user .e-tab-header .e-toolbar-items .e-toolbar-item .e-tab-wrap {
    display: flex;
}

.e-tab#user .e-tab-header .e-toolbar-items .e-toolbar-item.e-active::before {
    background-color: transparent;
}

.frame-45445 .e-tab#user .e-tab-header .e-toolbar-item:not(.e-separator) {
    margin: 0;
    width: 25%;
}

.e-tab#user .e-tab-header .e-toolbar-items .e-toolbar-item.e-active,
.e-tab#user .e-tab-header .e-toolbar-items .e-toolbar-item:hover {
    background: #3F2BC8;
    border-radius: 25px;

    .all,
    .management,
    .my-division,
    .my-template {
        color: #ffffff;
    }
}

.frame-1171275487 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    border: 1px dashed #a39595;
    padding: 5px;
    border-radius: 10px;
    height: 132px;
}
.frame-11712754871 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    border: 1px dashed #a39595;
    padding: 5px;
    border-radius: 10px;
    height: 132px;
    gap: 5px;
}

.list-signer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
    width: 100%;
    overflow-x: auto;
}

.frame-1171275488 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 85px;
    padding-top: 2px;
}

.ellipse-329 {
    border-radius: 50%;
    border-style: solid;
    border-color: var(--border, #dcdfe6);
    border-width: 1px;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    position: relative;
}



.vuesax-linear-close-circle {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.yuki-tanabe {
    color: var(--black-1, #030303);
    text-align: center;
    font: 400 12px "Inter-Regular", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-1171275490 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.vuesax-linear-close-circle2 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.yen-do-hai {
    color: var(--black-1, #030303);
    text-align: center;
    font: 400 12px "Inter-Regular", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-1171275494 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.dao-thi-thu-hang {
    color: var(--black-1, #030303);
    text-align: center;
    font: 400 12px "Inter-Regular", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vuesax-linear-close-circle3 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.frame-1171275491 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.vuesax-linear-close-circle4 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.tu-nguyen-cam {
    color: var(--black-1, #030303);
    text-align: center;
    font: 400 12px "Inter-Regular", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-1171275492 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.vuesax-linear-close-circle5 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.daiki-nogami {
    color: var(--black-1, #030303);
    text-align: center;
    font: 400 12px "Inter-Regular", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-1171275493 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 100%;
}
::ng-deep {
    #listViewSigner {
        height: 95px;
        overflow-y: hidden;
        width: 100%;
        .p-tabview {
            height: 100%;
            .p-tabview-nav-container {
                height: 100%;
                width: 100%;
                .p-tabview-nav-btn {
                    width: 1rem;
                }
                .p-tabview-nav-content {
                    height: 100%;
                    padding-left: 1.25rem;
                    padding-right: 1.25rem;
                    .p-tabview-nav {
                        li {
                            padding-bottom: 5px;
                        }
                        margin-bottom: 0;
                        border: none;
                        height: 100%;
                        gap: 4px;
                        padding: unset;
                        width: 100%;
                        overflow-x: auto;
                        .p-highlight {
                            background: transparent;
                        }
                        .p-tabview-nav-link {
                            padding: 0;
                            background: transparent;
                            height: 100%;
                            align-items: flex-start;
                            border: 1px dashed #d2d2d2;
                            border-radius: 10px;
                            .p-element.p-icon-wrapper{
                                position: absolute;
                                top: 4px;
                                right: 4px;
                                width: 18px;
                            }
                        }
                        .p-tabview-ink-bar {
                            display: none;
                        }
                    }
                }
            }
            .p-tabview-panels {
                display: none;
            }
        }
    }
}

::ng-deep #listview {
    height: calc(100% - 105px);
    border: none;
    overflow: hidden;
    .e-list-header {
        padding: 0 10px;
        height: 25px;
    }
    .e-list-container {
        overflow: auto;
        position: relative;
        height: calc(100% - 38px);
        .e-list-parent .e-list-item {
            height: auto;
            line-height: normal;
            border-bottom: 1px solid #dddddd;
            border-radius: 12px;
            padding: 2px 12px 2px 12px;
        }
    }
    .e-list-container .e-list-parent .e-list-item.e-active, .e-list-container .e-list-parent .e-list-item.e-hover, .e-list-container .e-list-parent .e-list-item.e-focused {
        background: #b1ebf891;
    }
}
.frame-1171275482 {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    border-radius: 10px;
    border: 1px dashed #a39595;
}

.vuesax-linear-close-circle6 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: visible;
}

.trinh-mai-my {
    color: var(--black-1, #030303);
    text-align: center;
    font: 400 12px "Inter-Regular", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame-3073 {
    background: transparent;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.frame-3041 {
    opacity: 0.800000011920929;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}
.ellipse-3281 {
    border-radius: 50%;
    border-style: solid;
    border-color: #dcdfe6;
    border-width: 1px;
    flex-shrink: 0;
    width: 34px;
    height: 34px;
    position: relative;
}
.frame-2988 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}
.frame-1171275486 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.frame-1171275511 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}
.frame-3075 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.le-minh-thu {
    color: var(--black-1, #030303);
    text-align: left;
    font: 600 14px "Inter", sans-serif;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.frame-1171275523 {
    display: flex;
    align-items: center;
}
.property-1-variant-6 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    .vuesax-linear-profile {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        position: relative;
        overflow: visible;
    }
    .full-name {
        color: var(--black-2, #8f8f91);
        text-align: left;
        font: var(--font-14-regular, 400 14px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .hieu-vu-tuan {
        color: var(--black, #222222);
        text-align: left;
        font: var(--font-16-regular, 400 16px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
.property-1-default {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    .vuesax-linear-location {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        position: relative;
        overflow: visible;
    }
    .office-location {
        color: var(--black-2, #8f8f91);
        text-align: left;
        font: var(--font-14-regular, 400 14px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .head-office {
        color: var(--black, #222222);
        text-align: left;
        font: var(--font-16-regular, 400 16px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 23px;
    }
}
.frame-1171275743 {
    border-style: solid;
    border-color: var(--border-1, #eaedf6);
    border-width: 0px 0px 1px 0px;
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 220px;
    position: relative;
}
.property-1-variant-2 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    .title {
        color: var(--black-2, #8f8f91);
        text-align: left;
        font: var(--font-14-regular, 400 14px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .am {
        color: var(--black, #222222);
        text-align: left;
        font: var(--font-16-regular, 400 16px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

}
.property-1-variant-3 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    .company {
        color: var(--black-2, #8f8f91);
        text-align: left;
        font: var(--font-14-regular, 400 14px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .tmv {
        color: var(--black, #222222);
        text-align: left;
        font: var(--font-16-regular, 400 16px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        height: 23px;
        justify-content: flex-start;
    }
}
.property-1-variant-4 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    .department {
        color: var(--black-2, #8f8f91);
        text-align: left;
        font: var(--font-14-regular, 400 14px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .software-development {
        color: var(--black, #222222);
        text-align: left;
        font: var(--font-16-regular, 400 16px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 23px;
    }
}
.property-1-variant-5 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    .vuesax-linear-sms {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        position: relative;
    }
    .vuesax-linear-sms2 {
        height: auto;
        position: absolute;
        left: 0px;
        top: 0px;
        overflow: visible;
    }
    .email {
        color: var(--black-2, #8f8f91);
        text-align: left;
        font: var(--font-14-regular, 400 14px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .hieuvt-toyotavn-com-vn {
        color: var(--black, #222222);
        text-align: left;
        font: var(--font-16-regular, 400 16px/140% "Roboto-Regular", sans-serif);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
::ng-deep .shared p-listbox#listView {
    width: 100%;
    overflow-y: auto;
    border: 1px solid #d4cacacc;
    border-radius: 5px;
    height: calc(100% - 130px);
    .p-listbox.p-component {
        border: none;
        height: 100%;
        .p-listbox-list-wrapper {
            max-height: unset !important;
            .p-listbox-list {
                padding: 0;
                .p-listbox-item {
                    border-bottom: 1px solid #c8e2e6c9;
                    .p-checkbox.p-component {
                        .p-checkbox-box.p-highlight {
                            border-color: #4ce720;
                            background: #4ce720;
                        }
                    }
                }
            }
        }
        .p-listbox-header {
            .p-checkbox.p-component {
                .p-checkbox-box.p-highlight {
                    border-color: #4ce720;
                    background: #4ce720;
                }
            }
        }
    }
}
.frame-1171275523 {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 6px;
}
.no-data-found {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: calc(50% - 45px);
    top: 45%;
    font-family: "Inter-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-250, #979797);
}
