@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gvList";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.KeyFieldName = "ID";
    settings.SettingsPager.PageSize = 20;
    settings.SettingsPager.NumericButtonCount = 10;
    settings.SettingsPager.AllButton.Visible = true;
    settings.SettingsPager.AlwaysShowPager = true;
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowFilterRowMenu = true;
    settings.CallbackRouteValues = new { Controller = "TB_M_USERS", Action = "GridCallback" };
    settings.Columns.Add(c =>
    {
        c.Caption = "";
        c.Width = System.Web.UI.WebControls.Unit.Pixel(70);
        c.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        c.SetDataItemTemplateContent(content =>
        {
            System.Text.StringBuilder strBuilder = new System.Text.StringBuilder();
            strBuilder.Append(string.Concat("<a class='btnCollectionEdit' href='#edit' data-id='", DataBinder.Eval(content.DataItem, "ID"), "' onclick='return Edit(this)' title='Edit'><i class='fa fa-pencil'></i></a>"));
            strBuilder.Append(string.Concat(" | <a class='btnCollectionDelete' href='#delete' data-id='", DataBinder.Eval(content.DataItem, "ID"), "' onclick='return Delete(this)' title='Delete'><i class='fa fa-trash-o'></i></a>"));
            Html.ViewContext.Writer.Write(strBuilder.ToString());
        });
    });
	settings.Columns.Add(c =>
        {
            c.Caption = "";
            c.FieldName = "USER_NAME";
        }
    );
	settings.Columns.Add(c =>
        {
            c.Caption = "";
            c.FieldName = "ACTIVE";
        }
    );
	settings.Columns.Add(c =>
        {
            c.Caption = "";
            c.FieldName = "CREATE_DATE";
        }
    );
	settings.Columns.Add(c =>
        {
            c.Caption = "";
            c.FieldName = "UPDATE_DATE";
        }
    );
    
}).Bind(LSP.Models.TB_M_USERS.TB_M_USERSProvider.Instance.TB_M_USERS_Search(Model ?? new LSP.Models.TB_M_USERS.TB_M_USERSInfo())).GetHtml()

