@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dxcontent_list">
	<div class="content-header content-title">
		<div class="action-area">
			@Html.DevExpress().Button(settings =>
			{
				settings.Name = "btnAdd";
				settings.Text = "Add New";
				settings.ClientSideEvents.Click = "Add";
			}).GetHtml()
		</div>
	</div>

	@Html.Partial("_TB_M_USERSList")

	@Html.DevExpress().PopupControl(settings =>
	{
		settings.HeaderText = "TB_M_USERS Management";
		settings.Name = "popTB_M_USERS";
		settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
		settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
		settings.Modal = true;
		settings.ShowCloseButton = true;
		settings.PopupAnimationType = AnimationType.Fade;
		settings.Width = System.Web.UI.WebControls.Unit.Pixel(500);
		settings.Style.Add("background-color", "rgba(0, 0, 0, 0.5)");
		settings.SetContent(() =>
		{
			Html.RenderPartial("_TB_M_USERSEdit");
		});
		settings.ClientSideEvents.CloseUp = "OnPopTB_M_USERSCloseUp";
	}).GetHtml()

	@section HeadScript {
		<script src="@Url.Content("~/Content/Scripts/App/TB_M_USERS.js")" type="text/javascript"></script>
	}
</div>
