@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form role="form" class="form-horizontal">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group form-group-sm">
            </div>
        @*    <div class="form-group form-group-sm">
                <label class="col-xs-5 col-sm-3 col-md-5 col-lg-4 control-label required-left text-muted">Old password</label>
                <div class="col-xs-7 col-sm-6 col-md-7">
                    <input id="txtOldPassword" type="password" class="form-control" required />
                </div>
            </div>*@
            <div class="form-group form-group-sm">
                <label class="col-xs-5 col-sm-3 col-md-5 col-lg-4 control-label required-left text-muted">New password</label>
                <div class="col-xs-7 col-sm-6 col-md-7">
                    <input id="txtNewPassword" type="password" class="form-control" required />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-5 col-sm-3 col-md-5 col-lg-4 control-label required-left text-muted">Confirm password</label>
                <div class="col-xs-7 col-sm-6 col-md-7">
                    <input id="txtConfirmPassword" type="password" class="form-control" required />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-xs-12 col-sm-6 col-sm-push-3 col-md-push-5 col-lg-push-4">
                    <button type="button" class="btn btn-sm btn-warning" id="btnchange" onclick="OnBtnChangePassClicked(this)">Change Password</button>
                </div>
            </div>
        </div>

        <div class="col-xs-12 visible-xs visible-sm">
            <div style="width: 100%; border-bottom: 1px solid #ccc; margin-bottom: 10px;">&nbsp;</div>
        </div>

        <div class="col-xs-12 col-md-5">
            <ul class="spaced">
                <li>All passwords must contain a minimum of six (6) characters and must consist of a mixed combination of alphabets, characters and symbols.
                </li>
                <li>Every password must be different from its user ID.
                </li>
                <li>All passwords must be changed every ninety (90) days except the application interface users.
                </li>
                <li>All passwords are not permitted to be changed more than 1 time within 1 day.
                </li>
                <li>After the first logon, all users will be forced to change to another password.
                </li>
                <li>A reuse of the same password must be prohibited for a minimum of the next three (3) consecutive password changes.
                </li>
                <li>A user IDs associated with a password must be disabled after a maximum of five (5) consecutive failed login attempts.
                </li>
                <li>All passwords must never be displayed or echoed in clear texts on the screen.
                </li>
            </ul>
        </div>
    </div>
</form>


<!-- partial to add css and js tour plugin -->
@*@Html.Partial("_TourPlugin") *@

@section BodyScript{


    <!-- Tour js is defined here -->
    <script type="text/javascript">

        $("#btnchange").click(function () {
         //   OnSavepassword();
        });

        function OnSavepassword() {
            alert("hello from OnSavepassword");
           @* $.ajax({
                method: "post",
                url: "@Html.Toyota().Page.GetActionUrl("ChangePassword")",
            data: {
                newpassword: $("#txtNewPassword").val(),
                confirmpassword: $("#txtConfirmPassword").val()
            },
            success: function (data) {
                if (data.ResultCode) {
                    msgOk(data.ResultDesc);
                    window.location.href = "@Html.Toyota().Page.HomeUrl";
                }
                else {
                    msgError(data.ResultDesc);
                    $("#txtNewPassword").val('');
                    $("#txtConfirmPassword").val('');
                    $("#txtNewPassword").focus();
                }
            }
        });*@
        }
    </script>
}