@*
---Phần Search trên form
TextBox : .textbox, .autobind (cho ô find gia tri tu dong)
DateEdit : .textdate
ComboBox : .textcombobox
*@
<div class="dxcontent_search"> 
    <div class="itembox">
		
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtPIC_NAME";
				settings.ControlStyle.CssClass = "textbox";
                settings.Properties.NullText = "PIC NAME";
			}).GetHtml()
    </div>
    
    <div class="itembox">
		
			@Html.DevExpress().TextBox(settings =>
			{
                settings.Name = "_txtSUPPLIERS";
				settings.ControlStyle.CssClass = "textbox";
                settings.Properties.NullText = "SUPPLIERS";
			}).GetHtml()
    </div>

     <div class="itembox">
        @Html.DevExpress().RadioButtonList(settings =>
         {
             settings.Name = "_txtIS_ACTIVE";  
             settings.Properties.Items.Add("All", "A");
             settings.Properties.Items.Add("Active?", "Y");
             settings.Properties.Items.Add("InActive", "N");              
             settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
             settings.SelectedIndex = 1;
             settings.ToolTip = "IS ACTIVE?";
         }).GetHtml()
    </div>

    <div class="itembox">    
		@if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
			(Html.Toyota().Page.ControllerName.ToString(), "Search"))
		{	
			@Html.DevExpress().Button(settings =>
			{
				settings.Name = "btnSearch";
				settings.Text = "Search";
                settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsSearch16x16devav;
				settings.ClientSideEvents.Click = "DoSearch";
			}).GetHtml()
		}
    </div>
</div>
