@using (Html.BeginForm("IMPORT_PRODUCTION_PLAN_CallbacksUpload", "TB_R_PRODUCTION_PLAN_M", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <table class="edit-form import_form">
        <caption style="text-align: center; color: black; font-weight: bold;">PRODUCTION PLAN UPLOAD </caption>

        <tr>
            <td class="label">File name
            </td>
            <td>
                @Html.DevExpress().UploadControl(settings =>
           {
               settings.Name = "_IMPORT_PRODUCTION_PLAN";
               settings.Width = 400;
               settings.NullText = "Select file...";
               settings.ShowProgressPanel = true;
               settings.ShowUploadButton = true;
               settings.AdvancedModeSettings.EnableMultiSelect = false;
               settings.CallbackRouteValues = new { Controller = "TB_R_PRODUCTION_PLAN_M", Action = "IMPORT_PRODUCTION_PLAN_CallbacksUpload" };
               settings.ClientSideEvents.FileUploadComplete = "function(s,e) { PRODUCTION_PLAN_OnFileUploadComplete(s,e)}";

           }).GetHtml()
                <span class="messageerror"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 20px;">
                <div style="float: right; margin-right: 20px;">
                    @Html.DevExpress().Button(settings =>
                   {
                       settings.Name = "btnImportCancel";
                       settings.ControlStyle.CssClass = "button";
                       settings.Text = "Cancel";
                       settings.ClientSideEvents.Click = "OnBtnImportCancelClicked";
                   }).GetHtml()
                </div>
                
                <span id="userStatus" class="action-status"></span>
            </td>
        </tr>
    </table>
}
