<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--DB-->
	<add key="ConnectSQL" value="Server=DESKTOP-1HVMAJ1\SQLEXPRESS;Database=UiPath_T;User Id=sa;Password=Abc!23" />
	<!--<add key="ConnectSQL" value="Server=192.168.6.20;Database=MMS_TEST;User Id=mms_dev;Password=Abc!23" />-->
	
	  <!--Email (Received)-->
	<add key="ProfileName" value="xuanhoang02122002@gmail.com" />
	<add key="EmailReceivedTitle" value="Daily FX Counter Rates" />
	<add key="SourceFolder" value="Inbox" />
	<add key="DestinationFolder" value="Processed" />


	<!--Email (Sending)-->
	<add key="EmailSendingTitle" value="[TMV.EXRATE.TOOL] Exchange Rate file extracted successfuly (from Citibank Official Email)" />
	<add key="Username" value="Test User" />
	<add key="AdminEmail" value="xuanhoangv7c@gmail.com;8@nxhdev.pro" />
	<add key="UsersEmail" value="xuanhoang02122002@gmail.com;admin@nxhdev.pro" />

	  
	  
	<!--others-->
	<add key="EmailCheckingInterval" value="10000" />
	<add key="AttachmentFolder" value="H:\" />
	<add key="HTMLUserTemplateFilePath" value="H:\Project\mms\plc\TMV.EXRATE.TOOL\TMV.EXRATE.TOOL\Template\UserEmailTemplate.html" />
	<add key="HTMLAdminTemplateFilePath" value="H:\Project\mms\plc\TMV.EXRATE.TOOL\TMV.EXRATE.TOOL\Template\AdminEmailTemplate.html" />
	  
	<add key="ClientSettingsProvider.ServiceUri" value="" />
	  
	  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
